{% extends "base.html" %}

{% block section_css %}
    <!-- section_css -->
    {% block page_css %}{% endblock %}
{% endblock %}

{% block section_js %}
    <!-- section_js -->
    {% block page_js %}{% endblock %}
{% endblock %}

{% block section_header %}
    <!-- section_header -->
    {% block page_header %}{% endblock %}
{% endblock %}

{% block section_content_header %}
    <!-- section_content_header -->
    {% block page_content_header %}{% endblock %}
{% endblock %}

{% block section_content %}
    ТЕСТ БЛЯДЬ!!!
    <!-- section_content -->
    {% block page_content %}{% endblock %}
{% endblock %}

{% block section_content_footer %}
    <!-- section_content_footet -->
    {% block page_content_footer %}{% endblock %}
{% endblock %}

{% block section_footer %}
    <!-- section_footer -->
    {% block page_footer %}{% endblock %}
{% endblock %}
    